<h2>
  {{.HeadWord}}
  ({{.FunctionalLabel}})
</h2>

{{with .Pronunciation }}
<h4>Pronunciation (IPA)</h4>
{{.}}
{{end}}

{{with .Inflection }}
  <h4>Inflection</h4>
  {{ range $index, $val := . }}
    {{if $index}}/{{end}}
    {{with .FormLabel }}
      ({{ . }})
    {{end}}
    {{ .InflectedForm }}
    {{with .Pronunciation }}
      ({{ . }})
    {{end}}
  {{end}}
{{end}}

{{ template "definition" .Definition }}

{{ range $uro_i, $uro := .UndefinedRunOn }}
  <h2>
    {{.HeadWord}}
    ({{.FunctionalLabel}})
  </h2>

  {{with .Pronunciation }}
  <h4>Pronunciation (IPA)</h4>
  {{.}}
  {{end}}

  <ul>
  {{ range $vi_k, $vi := .VerbalIllustrations }}
    <li>{{ .Text }}</li>
  {{ end }}
  </ul>
{{ end }}
